/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

.myImg {
  max-width: 200px;
  max-height: 200px;
}
.myImg2 {
  max-width: 400px;
  max-height: 400px;
}


