



<div *ngIf="searchDiv">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Cover Image</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let novel of searchList" (click)="selected = novel">
        <td>{{novel.id}}</td>
        <td>{{novel.title}}</td>
        <td>
          <img class= "myImg" [src]="novel.coverImageUrl"/>
        </td>
      </tr>
    </tbody>
  </table><br>

</div>



<div class="container-fluid"  *ngIf = "selected">
  <h3>{{selected.title}} by {{selected.author}}</h3>
  <h5>Published in {{selected.yearPublished}}</h5>
  <img class= "myImg2" [src]="selected.coverImageUrl" alt="{{selected.title}}">
  <br>
  <br>
  <br>
  <ul>
    <li>{{selected.description}}</li>
  </ul>
  <br>
  <br>
  <br>
  <button class="btn btn-outline-dark" (click)="selected = null">Back to novels</button>
  <button class="btn btn-outline-dark" (click)="update = !update">Update</button>
  <button class="btn btn-outline-dark" (click)="deleteNovel(selected.id)">Delete novel</button>
  <div  class="container" *ngIf="update">
    <form >
      <input  type="text" name="title" [(ngModel)]="selected.title"><br>
      <input  type="text" name="author" [(ngModel)]="selected.author"><br>
      <input  type="text" name="yearPuiblished" [(ngModel)]="selected.yearPublished"><br>
      <input  type="text" name="coverImageUrl" [(ngModel)]="selected.coverImageUrl"><br>
      <input  type="text" name="numberOfChapters" [(ngModel)]="selected.numberOfChapters"><br>
      <input  type="text" name="description" [(ngModel)]="selected.description"><br>
      <input  type="text" name="subGenre" [(ngModel)]="selected.subGenre"><br>
      <button class="btn btn-outline-dark" (click)="updateNovel(selected.id, selected)">Update Novel</button>
    </form>
  </div>
</div>
<br><br><br>

<div class="container-fluid" *ngIf="!selected && !add && !searchDiv">
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <td>Id</td>
      <td>Title</td>
      <td>Cover Image</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let novel of novels" (click)="selected = novel">
      <td>{{novel.id}}</td>
      <td>{{novel.title}}</td>
      <td>
        <img class= "myImg" [src]="novel.coverImageUrl"/>
      </td>
    </tr>
  </tbody>
</table><br>
<button class="btn btn-outline-dark" (click)="add = true">add novel</button>
<br>
<br>
<br>
<br>
</div>


<div class="container-fluid"  >
<form *ngIf="add">
  <input  type="text" name="title" placeholder="Title" [(ngModel)]="newNovel.title"><br>
  <input  type="text" name="author" placeholder="Author" [(ngModel)]="newNovel.author"><br>
  <input  type="text" name="yearPublished" placeholder="Year Published" [(ngModel)]="newNovel.yearPublished"><br>
  <input  type="text" name="coverImageUrl" placeholder="Cover image URL" [(ngModel)]="newNovel.coverImageUrl"><br>
  <input  type="text" name="numberOfChapters" placeholder="Number Of Chapters" [(ngModel)]="newNovel.numberOfChapters"><br>
  <input  type="text" name="description" placeholder="Description" [(ngModel)]="newNovel.description"><br>
  <input  type="text" name="subGenre" placeholder="Sub genre " [(ngModel)]="newNovel.subGenre"><br>
  <button class="btn btn-outline-dark" (click)="addNovel(newNovel) && selected = null && add = null">Add novel</button>
</form>
<div>



